<?xml version="1.0" encoding="EUC-KR"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>howmuch</display-name>
  <welcome-file-list>
    <welcome-file>howmuchmain.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostServlet</display-name>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>servlet.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/postservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyServlet</display-name>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>servlet.ReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/replyservlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>servlet.EncodingFilter</filter-class>
  </filter>
</web-app>